*{
    margin:0px;
    padding:0px;
}
.a{
    background-color: rgb(11, 201, 11);
    height: 260px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
}
.a1{
    border: 2px solid black;
    width: 340px;
    height: 190px;
    margin-left: 30px;
    line-height: 30px;
    border: none;

}
.a1 h1{
 
    margin-left: 20px;
}
.a1 b{
   
    margin-left: 20px;
}
.a1 p{
    margin-left: 20px;
}
.a2{
    border: 2px solid black;
    width: 300px;
    height: 60px;
    margin-top: 20px;
    border: none;
    margin-left: -80px;

}
.a2 input{
    width: 250px;
    height: 40px;
    margin-left: 10px;
    margin-top: 10px;
    padding-left: 20px;
}
.qa{
    width: 40px;
    height: 40px;
    margin-left: -10px;
    background-color: green;
}
.a3{
    border: 2px solid black;
    width: 150px;
    height: 80px;
    line-height: 40px;
    border: none;
}
.a3 h2{

    margin-left: 10px;

}
.qa1{
    margin-left: 10px;

}
.qa4{
    margin-left:10px;
}
.b{
    background-color: black;
    width: 100%;
    height: 440px;
}
.ba{

    display:flex;
    justify-content: space-around;
}
.b1{
    border: 2px solid white;
    width: 190px;
    height: 250px;
    display: grid;
    margin-top: 60px;
    line-height: 50px;
    border: none;

}
.b1 a{
    color:orange;
    text-decoration: none;
}
.b2{
    border: 2px solid white;
    width: 190px;
    height: 250px;
    display: grid;
    margin-top: 60px;
    line-height: 65px;
    border: none;
    margin-left: -60px;

}
.b2 a{
    color:orange;
    text-decoration: none;
}
.b3{
    border: 2px solid white;
    width: 190px;
    height: 250px;
    display: grid;
    margin-top: 60px;
    line-height: 50px;
    border: none;
}
.b3 a{
    color:orange;
    text-decoration: none;
}
.b4{
    border: 2px solid white;
    width: 190px;
    height: 250px;
    margin-top: 60px;
    line-height: 35px;
    border: none;
    margin-right: 20px;
    margin-left: -80px;

}
.b4 h2{
 color: white;
}
.b4 p{
 color:green;
}
.b4 h3{
color:orange;
}
.b5{
    border: 2px solid red;
    width: 240px;
    height: 260px;
    margin-top: 60px;
    line-height: 28px;
    margin-left: -50px;
}
.b5 h3{
    color: white;
    margin-left: 5px;
}
.b5 p{
    color:white;
    margin-left: 5px;
}
.b5 h4{
    color:white;
    margin-left: 5px;
}
.c{
    display: flex;
    padding-top: 74px;
}
.c1 p{
    color:green;
    margin-right: 30px;
}
.c2{
    margin-left: -20px;
}
.c2 a{
    color:green;
    margin-left:5px;
}
