*{
    margin:0px;
    padding:0px;
}
.demo{
    display: flex;

    padding-top: 10px;
    height: 50px;
    width: 100%;
    height: 50px;
    background: white;
    position:fixed;
}   
.demo h4{
    padding-top: 20px;
    margin-left: 65px;
}
.demo img{
    width: 140px;
    height: 40px;
    margin-left: 40px;
}
.demo1{
    background-image: url("images/pic5.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.demo2{
    background-image: url(images/bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    height: 69pc;
    width: 82pc;
}
.a1{
 
    margin-left: 300px;
    line-height: 20px;
}
.a1 h2{
    padding-top: 60px;
    margin-left: 120px;
    color: blue;
    font-size: 40px;
}
.a1 p{
    margin-left: 90px;
    padding-top: 20px;
    color: grey;
    font-size: 25px;
}
.demo2 img{
    height: 350px;
    width: 950px;
    margin-left: 240px;
    padding-top: 30px;
}
.aq1{
    padding-top:30px;
}
.a4{
    border: 2px solid black;
    height:100%;
    width:230px;
}
.a4 h3{
    margin-left: 20px;
    color: blue;
    font-size: 20px;
}
.a4 select{

    border: none;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 18px;
}
.a3{
    background-image: url(images/ph.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 440px;
    width: 250px;
}
.a2{
    display: flex;
    padding-top: 90px;
    margin-left: 380px;
}
.a4{
    border: 2px solid black;
    height: 100%;
    width: 400px;
    margin-top: 100px;
    border: none;
    margin-left: 50px;
}
.demo7{
    background-image:linear-gradient(blue,red);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:500px;
    width:100%;
}
.d1{
    color: white;
    margin-left: 540px;
    padding-top: 30px;

}
.d2{
    width: 840px;
    height: 30px;
    padding-top: 20px;
    display: flex;
    padding-left: 320px;
    justify-content: space-around;
 
}
.d2 span{
    border: 2px solid black;
    background: white;
    width: 80px;
    height: 30px;
    border:none;
    text-align: center;
    padding-top: 10px;
}
.d3{
    width: 840px;
    height: 30px;
    padding-top: 20px;
    display: flex;
    padding-left: 320px;
    justify-content: space-around;
}
.d3 span{
    border: 2px solid black;
    background: white;
    width: 80px;
    height: 30px;
    border:none;
    text-align: center;
    padding-top: 10px;

}
.hi{
    display: flex;
    padding-top: 60px;
}
.h2{
    background-image: url(images/gp1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 170px;
    margin-left: 520px;
    border-radius: 10px;
}

.h3{
    background-image: url(images/as.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40px;
    width: 160px;
    margin-left: 10px;
    border-radius: 10px;
}
.j{
    margin-left: 640px;
    padding-top: 70px;
}
.k{
    padding-top: 20px;
    margin-left: 530px;
}
.k1{
    color:white;
    border-right:2px solid white;
}
.k2{
    color:white;
    border-right:2px solid white;
    margin-left:10px;
}
.l{
    padding-top:20px;
    margin-left:440px;
}
.l p{
    color:white;
}
